 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>안내사항</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>이사이트에서 광고되는 상품들의 상환기간은
최단12개월이상 최장60개월이하이며,
최대 연 이자율은 24%입니다.</p>
                </div>
                <div class="col-lg-4">
                    <p>"중개수수료를 요구하거나 받지 않습니다."
과도한 빚은 당신에게 큰 불행을 안겨 줄 수 있습니다.
대출시 귀하의 신용등급이 하락할 수 있습니다.
신용등급 하락으로 금융거래가 제약될 수 있습니다.</p>
                </div>
                <!-- 
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
 -->
            </div>
        </div>
    </section>
