
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>상품안내</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <header style="background:#fff";>
                <img class="img-responsive" src="img/product.jpg" alt="profile-pic">
            </header>
        </div>
    </section>